@font-face {
   font-family: 'openSans-Light';
      src: url('OpenSans-Light.ttf') format('embedded-opentype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'openSans-LightItalic';
      src: url('OpenSans-LightItalic.ttf') format('embedded-opentype');
   font-weight: 300;
   font-style: italic;
}