@media only screen and (min-width: 0px) and (max-width: 1280px) {
    
}
@media only screen and (min-width: 0px) and (max-width: 1080px) {
    .page-wrapper { max-width: 768px; }

    #home-page .intro-img { min-height: 350px; }
}
@media only screen and (min-width: 0px ) and (max-width: 768px) {
	header > .top-head > aside, .top-foot > .social-btns-holder, .footer-widgets-holder, .foot-widget-elem, .foot-widget-elem > * {
        justify-content: center !important;
        -webkit-justify-content: center !important;
        -webkit-box-flex: center !important;
        -webkit-box-pack: center !important;
        -webkit-box-align: center !important;
        -moz-box-align: center !important;
        -moz-box-pack: center !important;
        -ms-flex-pack: center !important;
    }

    .mobile-menu-btn { 
        display: block;
        height: 50px;
        width: 93%;
        background-color: #3f6c9c;
        padding: 0;
        margin-bottom: 25px;
    }

    .bottom-head { display: block !important; }

    header > .top-head { height: 150px; }
    header > .top-head > aside { width: 100%; }

    nav.head-nav { display: none !important; }
    nav.mobile-nav { width: 90%; margin: 0 auto; }
    .foot-widget-elem a { width: 100%; }
    .top-foot { min-height: 140px; }
    .top-foot > .social-btns-holder { width: 100%; }
    .top-foot > button { margin: 0 auto; }
    .foot-widget-elem > * { text-align: center; }
    
    .foot-widget-elem { 
        width: 100%;
        margin: 25px 0 !important; 
    }

    .quick-contact-form-widget > button { 
        width: 25%;
        margin: 25px auto; 
    }
    
    nav.mobile-nav a { 
        color: white; 
        width: 100%;
    }

    .nav-drop-menu-holder > a {
        line-height: 30px;
        height: auto;
        padding: 10px;
    }

    nav.mobile-nav > * {
        width: 100%;
        text-align: right;
        padding: 10px;
        height: auto;
        line-height: 30px;
        background-color: #2d2e34;
    }

    .nav-drop-menu {
        position: relative;
        background-color: #393a42;
        width: 100%;
        height: auto;
        padding: 0 10px;
        margin: 0;
        display: block;
    }

    .nav-drop-menu li {
        padding: 10px;
        border: none;
        margin-right: -10px;
    }

    .nav-drop-menu li:hover, .mobile-nav a:hover {
        border-bottom: none;
        background-color: #3f6c9c;
        opacity: 1;
    }

    #home-page .intro-img { min-height: 250px; }
}
@media only screen and (max-width: 420px) {
	 
    #home-page .intro-img { min-height: 130px; }
} 